.register {
  height: 100vh;
  width: 100%;
  background-color: #545aea;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 50px 100px;
  border-radius: 50px;
}

.register-image {
  display: flex;
  justify-content: center;
}
.register-container h1{
  margin-bottom: 2rem;
}

.register-image > img {
  height: 100px;
  width: 100px;
}
.register-form {
  display: flex;
  flex-direction: column;
}
.register-form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.register-input {
  width: 15rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
}
.register-btn {
  font-weight: 700;
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  padding: 10px 15px;
  background-color: #545aea;
  border: none;
  color: #fff;
  border-radius: 20px;
}
