.register {
  height: 100vh;
  width: 100%;
  background-color: #545aea;
  font-family: "DM Serif Display", serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background-color: white;
  display: flex;
  min-width: 32%;
  justify-content: center;
  height: 560px;
  padding-top: 35px;
  border-radius: 50px;
}

.register-images {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.reg {
  height: 100px;
  width: 100px;
}

.one {
  display: flex;
  padding-bottom: 10px;
}
.two {
  display: flex;
}
input[type="text"],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type="text"],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="password"],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.register-inputs {
    
  padding-left: 70px;
  font-size: 20px;
}

button {
  margin: 12px 0 0;
  width: 50%;
  height: 44px;
  border-radius: 6px;
  background-color: #545aea;
  color: white;
  font-size: 25px;
  border: none;
}

.register-btn {
  padding-top: 25px;
}
