.login {
  height: 100vh;
  width: 100%;
  background-color: #545aea;
  font-family: "DM Serif Display", serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  display: flex;
  min-width: 32%;
  justify-content: center;
  height: 560px;
  padding-top: 35px;
  border-radius: 50px;
}

.login-images {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.user {
  height: 100px;
  width: 100px;
}

input[type="email"],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="password"],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.inputs {
  padding-left: 70px;
  font-size: 20px;
}
.password {
  padding-top: 20px;
}

button {
  margin: 12px 0 0;
  width: 50%;
  height: 44px;
  border-radius: 6px;
  background-color: #545aea;
  color: white;
  font-size: 25px;
  border: none;
}

.login-btn {
  padding-top: 25px;
  padding-bottom: 15px;
}

.link {
  font-size: 20px;
  font-weight: 400;
}
a {
  color: rgb(90, 11, 194);
  
}
