.login {
  height: 100vh;
  width: 100%;
  background-color: #545aea;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 100px;
  border-radius: 50px;
}
.login-container > h1 {
  margin-bottom: 20px;
}
.login-image {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.login-image >img{
  height: 100px;
  width: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login-form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.login-input {
   width: 15rem;
  padding: 0.75rem ;
  border: 1px solid #ccc;
}
.login-btn{
  font-weight: 700;
  margin-bottom: 1rem;
  padding:10px 15px;
  background-color:#545aea ;
  border: none;
  color:#fff;
  border-radius: 20px;

}
